@import "../../styles/global.scss";

div.container {
  width: 100%;
  position: absolute;
  top: 56px;
  box-sizing: border-box;
  padding: 24px 8px 8px 72px;
  /* Per Banner spec, with bigger left gutter to account for menu button */
  //padding: 8px 8px 8px 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;

  @media screen and (max-width: 599px) {
    font-size: smaller;
    flex-direction: column;
  }
}

p.message {
  flex-grow: 1;
  line-break: anywhere;

  @media screen and (max-width: 599px) {
    width: 100%;
    text-align: left;
  }
}

.action-row {
  margin: 0 0 0 90px;
  flex-grow: 0;
  white-space: nowrap;
}
