/*-
 * #%L
 * recipeton-cookbook-service-fe
 * %%
 * Copyright (C) 2021 tincomisc
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/gpl-3.0.html>.
 * #L%
 */

$mat-xsmall: "max-width: 599px";
$mat-small: "max-width: 959px";
$mat-gt-xs: "min-width: 600px";
$mat-lt-sm: "max-width: 599px";
$mat-lt-md: "max-width: 959px";
$mat-lt-lg: "max-width: 1279px";

$matmq-xs: screen and
  (
    max-width: 599px,
  );
$matmq-sm: screen and
  (
    min-width: 600px,
  )
  and
  (
    max-width: 959px,
  );
$matmq-md: screen and
  (
    min-width: 960px,
  )
  and
  (
    max-width: 1279px,
  );
$matmq-lg: screen and
  (
    min-width: 1280px,
  )
  and
  (
    max-width: 1919px,
  );
$matmq-xl: screen and
  (
    min-width: 1920px,
  )
  and
  (
    max-width: 5000px,
  );
$matmq-lt-sm: screen and
  (
    max-width: 599px,
  );
$matmq-lt-md: screen and
  (
    max-width: 959px,
  );
$matmq-lt-lg: screen and
  (
    max-width: 1279px,
  );
$matmq-lt-xl: screen and
  (
    max-width: 1919px,
  );
$matmq-gt-xs: screen and
  (
    min-width: 600px,
  );
$matmq-gt-sm: screen and
  (
    min-width: 960px,
  );
$matmq-gt-md: screen and
  (
    min-width: 1280px,
  );
$matmq-gt-xl: screen and
  (
    min-width: 1920px,
  );

.page {
  height: 100%;
}

.title {
  ic-icon {
    font-size: larger;
  }
}

.scrollWrapper {
  position: relative;
  height: calc(100% - 64px);
}

.scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.mat-chip-container {
  margin: 2px;
}

mat-chip {
  white-space: nowrap;
  @media screen and (max-width: 599px) {
    font-size: x-small;
    //font-size: smaller;
  }
}

.mat-toolbar-extrabutton {
  margin-left: 12px;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  mat-progress-bar {
    position: absolute;
  }

  .title-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    @media screen and (max-width: 599px) {
      font-size: smaller;
    }
  }

  .scrollable {
    width: 200px;
    overflow: auto;
    white-space: nowrap;
  }

  .subTitle {
    @media screen and (max-width: 599px) {
      //@media #{$mat-xs} {
      font-size: x-small;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.mat-column-select {
  overflow: initial;
}

.md-errors-spacer {
  display: none;
}

table {
  width: 100%;

  tr.detail-row {
    height: 0;
  }

  tr.selected-row {
    font-weight: bold;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
  }
}

.mat-column-actions {
  text-align: right;
  width: 164px;
}

.toolbar-search-container {
  .mat-form-field {
    font-size: 14px;
    line-height: 0.9em;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
    width: 0px;
  }

  &.active .mat-form-field {
    width: 100%;
  }

  //@.active .search-icon {
  //  background: #e2e9eb;
  //}
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

.thumbnail {
  height: 150px;
  width: 150px;
  background-color: gray;
}
